body{
      background-color: beige;
}
h1{
    margin-bottom: 3%;
    color: black;
}

.container{
    text-align: center;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 5%;
    border: 3px dashed;
    border-color: black;
    position: relative;
}

.container ul{
    list-style-type:none;   
    padding: 0;
}

.container li{
    margin-bottom: 15px;
    font-size: 18pt;
}

.container p{
    margin-top: 40px;
    color: black;
}

.container a{
    text-decoration:underline;
    color: black;
}

.container ul.adm{
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 15px;
}

.container ul.adm a{
    font-size: large;
    text-decoration: none;
}
